<script type="text/javascript">
    RED.nodes.registerType('sendToToami',{
        category: 'sendToToami',
        color: '#A5DF00',
        defaults: {
            GWName: {value:""},
            appKey: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "dataparsefix.png",
        label: function() {
            return this.name||"sendToToami";
        }
    });
</script>


<script type="text/x-red" data-template-name="sendToToami">
    <div class="form-row">
        *送信するToamiの情報<br>
        <label for="node-input-GWName">GWName</label>
        <input type="text" id="node-input-GWName" placeholder="" style="width: 300px" maxlength='32'><br><br>
        <label for="node-input-appKey">appKey</label>
        <input type="text" id="node-input-appKey" placeholder="" style="width: 300px" maxlength='32'><br><br>
    </div>
</script>


<script type="text/x-red" data-help-name="sendToToami">
    <p>Toamiにデータを送ります。</p><br><br>
</script>