<script type="text/javascript">
    RED.nodes.registerType('advertise',{
        category: 'advertise',
        color: '#A5DF00',
        defaults: {
            filter: {value:""},
            serviceuuid: {value:""},
            charactaristicsuuid2: {value:""},
	    GWName: {value:""},
            appKey: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "dataparsefix.png",
        label: function() {
            return this.name||"advertise";
        }
    });
</script>


<script type="text/x-red" data-template-name="advertise">
    <div class="form-row">
        *フィルタリングするデバイスのMAC Addressを指定<br>
        <label for="node-input-filter"> MAC Address</label>
        <input type="text" id="node-input-filter" placeholder="aabbcc112233" style="width: 300px" maxlength='32'><br><br>
        *距離センサーのServiceのUUIDを指定<br>
        <label for="node-input-serviceuuid"> Service UUID</label>
        <input type="text" id="node-input-serviceuuid" placeholder="UUID" style="width: 300px" maxlength='32'><br><br>
        *電池のCharacteristicsのUUIDを指定<br>
        <label for="node-input-charactaristicsuuid2">超音波 UUID</label>
        <input type="text" id="node-input-charactaristicsuuid2" placeholder="UUID" style="width: 300px" maxlength='32'><br><br>
        *送信するToamiの情報<br>
        <label for="node-input-GWName">GWName</label>
        <input type="text" id="node-input-GWName" placeholder="Thg_GW_XXXX_XXXX" style="width: 300px" maxlength='32'><br><br>
        <label for="node-input-appKey">appKey</label>
        <input type="text" id="node-input-appKey" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" style="width: 300px" maxlength='60'><br><br>
    </div>
</script>


<script type="text/x-red" data-help-name="advertise">
    <p>BLE Notifyデータを取得します。</p><br><br>
</script>
