<script type="text/javascript">
    RED.nodes.registerType('NakaNode',{
        category: 'NakaNode',
        color: '#A5DF00',
        defaults: {
            filter: {value:""},
            serviceuuid: {value:""},
            charactaristicsuuid: {value:""},
            charactaristicsuuid2: {value:""},
            GWName: {value:""},
            appKey: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "dataparsefix.png",
        label: function() {
            return this.name||"NakaNode";
        }
    });
</script>


<script type="text/x-red" data-template-name="NakaNode">
    <div class="form-row">
        *フィルタリングするデバイスのBD Addressを指定<br>
        <label for="node-input-filter"> BD Address</label>
        <input type="text" id="node-input-filter" placeholder="aabbcc112233" style="width: 300px" maxlength='32'><br><br>
        *フィルタリングするServiceのUUIDを指定<br>
        <label for="node-input-serviceuuid"> Service UUID</label>
        <input type="text" id="node-input-serviceuuid" placeholder="1802" style="width: 300px" maxlength='32'><br><br>
        *フィルタリングするCharacteristicsのUUIDを指定<br>
        <label for="node-input-charactaristicsuuid"> UUID</label>
        <input type="text" id="node-input-charactaristicsuuid" placeholder="20a1" style="width: 300px" maxlength='32'><br><br>
        <label for="node-input-charactaristicsuuid2"> UUID</label>
        <input type="text" id="node-input-charactaristicsuuid2" placeholder="20a1" style="width: 300px" maxlength='32'><br><br>
        *送信するToamiの情報<br>
        <label for="node-input-GWName">GWName</label>
        <input type="text" id="node-input-GWName" placeholder="" style="width: 300px" maxlength='32'><br><br>
        <label for="node-input-appKey">appKey</label>
        <input type="text" id="node-input-appKey" placeholder="" style="width: 300px" maxlength='60'><br><br>
    </div>
</script>


<script type="text/x-red" data-help-name="NakaNode">
    <p>BLE Notifyデータを取得します。</p><br><br>
</script>